{% extends 'blog/base.html' %} {% block title %}BlogPost{% endblock title %}
{%load humanize %} {% load get_dict %} {% block body %}
<div class="container my-3">
  <h2 class="blog-post-title">{{ post.title }}</h2>
  <p class="blog-post-meta">
    {{post.timestamp}} by <a href="#">{{post.author}}</a>
  </p>
  <p>{{post.content|safe}}</p>
</div>
<div class="container">
  <h2>Comments({{comments.count}})</h2>
  {% if user.is_authenticated %}
  <form action="/blog/postComment" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Post here comments</label>
      <input
        type="text"
        class="form-control"
        name="comment"
        placeholder="Comment here"
      />
    </div>
    <input type="hidden" name="postSno" value="{{post.sno}}" />
    <input type="submit" value="Post" />
  </form>
  {% else %}
  <p>Please login to post comment</p>
  {% endif %} {% for comment in comments %}
  <div class="row my-3">
    <div class="col-md-1">
      <img
        class="rounded img-fluid img-thumbnail border border-dark"
        src="/static/user.png"
        alt="user"
      />
    </div>
    <div class="col-md-11">
      <b>{{comment.user.username}}</b>
      <span class="badge badge-secondary"
        >{{comment.timestamp | naturaltime}}</span
      >
      <div>{{comment.comment}}</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock body %}
